{% extends 'base.html' %}
{% block body %}
  <div class="aboutus_container">
    <div class="aboutus">
  <h1>About Us</h1>   
  <br>
  <p>Welcome to the Wine Quality Prediction System, a web portal developed as part of our final year project in computer science and information technology. This collaborative effort is the result of the hard work and dedication of students Bibek Karki, Rajiv Thakuri, and Ramraja Partab Budha.

    Our project, undertaken with the guidance and supervision of experts, aims to provide a reliable system for predicting the quality of wine. Companies interested in enhancing their wine quality assessment processes can integrate this system for valuable insights.
    
    We appreciate feedback, suggestions, and complaints. Please feel free to contact the administrator for any inquiries. Together, let's explore the potential of wine quality prediction and contribute to continuous improvement in the industry.</p>
  </div>
  
  </div>
  <div id="quote" style="height: 100px ;padding: 10px" >
  <div class="admin-profile">
    <br>
    <br>
    <img src="../static/background/3glass.PNG" alt="Admin Photo" class="circular-photo">
    <div class="admin-info" style="color: white;">
      <h2 style="padding: 0px;">Bibek karki</h2>
      <p>Email: bibekkarki@gmail.com</p>
      <p>Role: Administrator</p>
      <!-- Add other information as needed -->
    </div>
    <div class="admin-profile" style="color: white;">
        <img src="../static/background/3glass.PNG" alt="Admin Photo" class="circular-photo">
        <div class="admin-info">
          <h2 style="padding: 0px;">Rajiv Thakuri</h2>
          <p>Email: rajivthakuri@gmail.com</p>
          <p>Role: Administrator</p>
          <!-- Add other information as needed -->
        </div>
        <div class="admin-profile" style="color: white;">
            <img src="../static/background/3glass.PNG" alt="Admin Photo" class="circular-photo">
            <div class="admin-info">
              <h2 style="padding: 0px;">Ramraja partap budha</h2>
              <p>Email: Ramraja@gmail.com</p>
              <p>Role: Administrator</p>
              <!-- Add other information as needed -->
            </div>
          </div>

    </div>
    </div> 
</div>
  {% endblock  body%}



